footer {
  background: #e9f0ee;
  padding-bottom: 2rem;
}

.btn-create-user {
  padding: 8px 4rem;
  color: white;
  background: #ef8b73;
  border: none;
  font-size: 70%;
}

.hearfrom {
  color: #6c757d;
}

.privacy {
  font-size: 50%;
}

.privacy a {
  color: #00866b;
  text-decoration: underline;

  /* border-bottom:1px solid; */
}

.alt-contact h6 {
  font-family: abril-display, serif;
  font-weight: 600;
  font-style: italic;
  color: #00866b;
}

.alt-contact p {
  font-family: "Avenir LT W01_85 Heavy1475544", sans-serif;
}

.alt-contact-link a {
  font-family: "Times New Roman", Times, serif;
  color: #00866b;
  text-decoration: underline;

  /* border-bottom:1px solid; */
}

.alt-contact-link span {
  color: #00866b;
  font-size: 80%;
  margin-bottom: 10px;
}
