@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=d0e7dd8b-ea16-48fb-b812-8f9da169427b");

@font-face {
  font-family: "Avenir LT W01_45 Book1475508";
  src: rl("Fonts/710789a0-1557-48a1-8cec-03d52d663d74.eot?#iefix");
  src: url("Fonts/710789a0-1557-48a1-8cec-03d52d663d74.eot?#iefix") format("eot"), url("Fonts/065a6b14-b2cc-446e-9428-271c570df0d9.woff2") format("woff2"), url("Fonts/65d75eb0-2601-4da5-a9a4-9ee67a470a59.woff") format("woff"), url("Fonts/c70e90bc-3c94-41dc-bf14-caa727c76301.ttf") format("truetype");
}

@font-face {
  font-family: "Avenir LT W01_45 Book O1475514";
  src: url("Fonts/d8c50fcc-bc32-4f31-8c24-b170c64e2254.eot?#iefix");
  src: url("Fonts/d8c50fcc-bc32-4f31-8c24-b170c64e2254.eot?#iefix") format("eot"), url("Fonts/476612d9-282d-4f76-95cd-b4dd31e7ed21.woff2") format("woff2"), url("Fonts/f1ebae2b-5296-4244-8771-5f40e60a564a.woff") format("woff"), url("Fonts/04d1bf6c-070d-4b7e-9498-6051c9f0c349.ttf") format("truetype");
}

@font-face {
  font-family: "Avenir LT W01_85 Heavy1475544";
  src: url("Fonts/6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?#iefix");
  src: url("Fonts/6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?#iefix") format("eot"), url("Fonts/d513e15e-8f35-4129-ad05-481815e52625.woff2") format("woff2"), url("Fonts/61bd362e-7162-46bd-b67e-28f366c4afbe.woff") format("woff"), url("Fonts/ccd17c6b-e7ed-4b73-b0d2-76712a4ef46b.ttf") format("truetype");
}

@font-face {
  font-family: "Avenir LT W01_85 Heavy_1475550";
  src: url("Fonts/e6b412d9-d1ed-4b17-bb93-a6911df8640d.eot?#iefix");
  src: url("Fonts/e6b412d9-d1ed-4b17-bb93-a6911df8640d.eot?#iefix") format("eot"), url("Fonts/3c210c80-960f-4684-850b-25390b4d08af.woff2") format("woff2"), url("Fonts/cb5c71ad-e582-4d00-929c-67fbfaeb1c27.woff") format("woff"), url("Fonts/9ced8e96-4602-4507-8c20-4ff381949a9a.ttf") format("truetype");
}

body {
  font-family: "Avenir LT W01_45 Book1475508", sans-serif;
  font-size: 80%;
}
